*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(900deg,#af8aff,#5624fad2);
    color:#fff;
    padding-top: 6%;
    padding-left: 7%;
}

.container h1{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}
.container h1 img{
    padding-right: 15px;
    width:80px;
}
.container button img{
    width:25px;
    margin-right:11px
}
.container button{
    margin-top: 50px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fbff00,#fbff0079);
    font-size: 16px;
    border-radius: 40px;
    font-family: 'Poppins',sans-serif;
    border: 0;
    padding: 14px;
    margin-bottom: 20apx;
}
.container button:hover {
    background: linear-gradient(#e6e600, #e6e60079); /* Darker gradient on hover */
    transition: background 0.5s ease;
    cursor: pointer;
}
.container button:active {
    background: linear-gradient(#cccc00, #cccc0079); /* Even darker gradient on click */
    transition: background 0.1s ease; /* Faster transition for click effect */
}

.notes-container{
    margin-top: 10px;
    position: relative;
    width: 50%;
    max-width: 400px;
    min-height: 10px;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.input-box {
    width: 95%;
    min-height: 150px;
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
}

.input-box:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.notesDisplay {
    margin-top: 20px;
    color: #333;
}

.note {
    background-color: #e2dfdf;
    padding: 10px;
    min-width: 300px;
    max-width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
    color: black;
}

.note .timestamp {
    font-size: 0.8em;
    color: #777;
}

.note .note-actions {
    position: relative;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: right;
}

.note .note-actions button {
    background: #ddd;
    border: none;
    padding: 1px 10px;
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
}